body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-image: url("../assets/background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 100%;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  max-width: 300px;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8em;
}

.content {
  padding-top: 50px;
  margin-left: 50px;
  max-width: 500px;
}

input {
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: transparent;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 0;
}

input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}
input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #000000;
}

input[type="submit"] {
  padding: 15px 80px;
  text-transform: uppercase;
  border: 1px solid #000000;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #ffffff;
  background-color: #000000;
}

.inner-content {
  max-width: 400px;
}

.half-width {
  width: 48%;
  float: left;
}

.full-width {
  width: 100%;
}

.first-input {
  margin-right: 4%;
}

@media (max-width: 767px) {
  .white-background {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 20px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .content {
    max-width: none;
    margin-left: 0;
  }

  img {
    padding-left: 50px;
    padding-right: 50px;
    max-width: none;
  }
}

@media (max-width: 376px) {
  .content {
    text-align: center;
  }

  .white-background {
    padding-left: 20px;
    padding-right: 20px;
  }

  .half-width {
    width: 100%;
  }

  .first-input {
    margin-right: 0;
  }
}
