h1 {
    color: red;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}
a {
    color: black;
    font-size: 2rem;
}
#logo {
    height: 1.8rem;
}

.loglog {
    height: 200px;
}
.bgim {
    background: url('../images/2.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    



}
