body {
    background-color: rgb(247, 240, 240);
}


.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}

.rounded-image {
    border-radius: 50%;
}

.padding-10 {
    padding: 10%;
}

.ul-be-tasku {
    list-style-type: none;
  }

.bg-1 {
    background: url(../img/bg2.jpg)

}

.bg2 {
    background-color: rgba(131, 129, 129, 0.3);
    color: rgb(218, 218, 218)
}

.bg-footer {
    background-color: rgba(128, 82, 59, 0.1);
}

/* sita reikia uzdeti logotipui */
.logo {
    width: 80px;
    height: 80px;
}

/* sita uzdejau paveiksliukui kampe */
.logo-2 {
    width: 150px;
    height: 150px;
}
/* sita uzdejau paveiksliukui kampe */
.padding-0 {
    padding: 0;
}