.aukstis-500 {
    height: 500px;
}
nav {
    height: 50px;
}
.btn {
    color: #000;
    font-weight: bold;
    padding-top: 10px;
}
.btn:first-of-type{
    padding-left: 70px;
}
.btn:hover {
    color: rgb(52, 30, 0);
    text-decoration: none;
}
img {
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
.fonas {
    background-image: url("../img/knyga1.jpg");
    background-size: cover;

    width: 100%;
    position: relative;
}
.mygtukas {
    border: solid 2px #000;
    padding: 10px;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    font-weight: bold;
}
.mygtukas:hover {
    color: rgb(52, 30, 0);
    text-decoration: none;
    border: solid 2px rgb(52, 30, 0);
}
