h1 {color: red;
    text-align: center;
    font-style: italic;
}
.pagr {color: black; text-align: center; w }
article {background-color: grey;
        width: 31%;
        border: solid 2px #000;
        float: left;

        }
.float-fix {clear: both; }

/* i vena eilute:
1 kad elementai turetu ploti
2 visiems elementams uzdeti float rigt arba left.    */
h2 {position: absolute;
    right: -2px;
    font-size: 20px;
    background-color: pink;
    top: -14px;
    border: solid 2px #000;
    padding-right: 10px;
    
     }
article {position: relative;
    top: 35px;
    margin: 1%;
         }
.green {background-color: red;
        color: white; }
.blue {background-color: yellow; }
