h1 {color: red;
}
.pagr {color: black; text-align: center; w }
article {background-color: grey;
        width: 30%;
        border: solid 2px #000;
        float: left;
        }
.float-fix {clear: both; }

/* i vena eilute:
1 kad elementai turetu ploti
2 visiems elementams uzdeti float rigt arba left.    */
h2 {position: absolute;
    right: 50px;
    font-size: 90px; }
article {position: relative;
        z-index: 9; }
