html {
    background-color: #a2a2a2;
}
body {
    /* centravimas X-asyje
    1) reik width=xxxpx;
    2) margin-left: auto;
    3) margin-right: auto;
    */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: red;
    text-align: center;
}
p {
    text-align: justify;
}

header {
    background-color: #FF80FF;
}
nav {
    height: 80px;
    display: block;
    width: 60%;
    background-color: #ffc3e8;
    float: left;
}
ul {
    padding: 0;
}

li {
    padding-top: 12px;
    float: left; /* nepamirsti clear float uzdeti */
    width: 25%;

    font-size: 29px;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

/* --------search----- */
#paieska {
    display: block;
    width: 40%;
    height: 80px;
    background-color: red;

    float: right;
}
input {
    width: 60%;
    height: 26px;
    border: none;
    background-color: #b2b2b2;
    color: #fff;
}
form {
    padding-top: 22px;
}
main {
    width: 80%;
    background-color: #fff;
}
section {
    overflow: hidden;
    width: 100%;
    margin-top: 2%;
}
aside {
    width: 18%;
    background-color: #ffa4ff;
    margin-left: 2%;
    /* automatiskai apsiskaiciuojantis aukstis */
    /* ! ant tecio uzdeti: overflow: hidden; ir ploti (pvz: width: 100%;) */
    /*  */
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
/* --- pernaudojamas---- */
.float-left {
    float: left;
}
.clearfloat {
    clear: both;
}

/* --------nuo 0 iki 1199px---------  */
@media (max-width: 1199px) {
    body {
        width: 100%;
    }

}
