h1::after {
    background-color: red;
    width: 100px;
    height: 20px;
    content: " ";
    display: inline-block;
}

h1::before {
    background-color: red;
    margin-right: 60px;
    width: 100px;
    height: 20px;
    content: " ";
    display: inline-block;
}

/* paveiksliuko dejimas */

h2::before {
    background: url('../logo.png');
    background-size: cover;
    background-position: left center;
    
    height: 200px;
    width: 100%;
    content: "";
    display: inline-block;
} 

h1::first-letter {
    font-size: 72px;
    font-weight: 900;
    font-family: "George", Arial, sans-serif;
    display: inline-block;
    content: "p";
    height: 60px;
    width: 25px;
}

/* fono nuotraukos klaidos */
/* 
0) ar nuotrauka rado kompas(inspect->console)
1) kelias nurodomas nuo css failo (neuzmirst is lipti su "../")
2) kelias gali buti blogas
3) failo pavadinimas
4) ! reikia nurodyti auskti ir ploti
5)
*/

h3:hover {
    background: black;
    cursor: pointer;
}

img:hover {
    /* background: rgba(123, 123, 123, 0.9) */
    opacity: 0.2;
}

a {
    background: red;
    width: 100px;
    height: 60px;
    display: block;
}

a:hover {
    text-decoration: none;
    background: #c3b34b
}

a:active {
    background: #796e2d;
}

input:focus {
    background: #e2e2e2;
}

section :first-child {
    color:red;
}
h2:first-of-type {
    color: green;
}