
body {
    overflow-x: hidden;
    

}
.logo {
    width: 200px;
    height: 100px;


}
.gira {
    font-style: italic;
    font-size: 45px;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    color: rgb(56, 214, 16);
}
.bg {
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.logo2 {
    width: 150px;
    height: 50px;
}
.col {
    height: auto;
}
header {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;


}
li {



}
ul {


}


}
.nav-link {
    display: block;
    text-align: center;
    padding: 34px 36px;
    font-style: oblique;
    font-size: 25px;
}
.pagrindinis {
    overflow-x: hidden;

}

.fone1 {
    margin-top: 150px;
}
.fone2 {
    margin-top: 150px;
}
.fone {
    margin-top: 15px;
}
button {
    border-radius: 5px;
    width: 100px;
    background-color: rgb(200, 95, 28);


}
.map {
    position: relative;
    margin-left: 120px;
    margin-top: 30px;
    border-color: rgb(106, 205, 16);
    display: flex;
    justify-content: center;

}
.ask {
    width: 400px;
    height: 90px;
    background-color: rgb(244, 186, 139);
    border-radius: 5px;
}
.epastas {
    width: 400px;
    background-color: rgb(244, 186, 139);
    border-radius: 5px;
}
.vardas {
    width: 400px;
    background-color: rgb(244, 186, 139);
    border-radius: 5px;
}
.seip {
    margin-top: 40px;
}




@media only screen and (min-width : 320px) and (max-width : 480px) {

}
