section h2 {
  color: #aa5900;
  font-size: 30px;
  font-weight: 600; }

section p {
  font-size: 16px;
  font-weight: 100; }

aside h2 {
  color: #aa5900;
  font-size: 30px;
  font-weight: 600; }

aside p {
  font-size: 16px;
  font-weight: 600; }
