
body {
    background-color: rgb(212, 246, 227);
}
.logo {
    width: 200px;
    height: 100px;


}
.logo2 {
    width: 150px;
    height: 50px;
}
.col {
    height: 800px;
}
header {
    overflow: hidden;
    background-color: rgb(66, 195, 119);
    width: 100%;
    display: flex;
    justify-content: flex-start;


}
li {
    padding-left: 20px;
}

a.nav-link {
    font-style: oblique;
    font-size: 25px;
}
.pagrindinis {
    overflow-x: hidden;
}

.fone1 {
    margin-top: 150px;
}
.fone2 {
    margin-top: 150px;
}
.fone {
    margin-top: 15px;
}
