/* //$size: 150px; // cube length */
body{
    text-align: center;
    padding: 50px;
}
.scene {
  margin: 50px;
  width: 150px;
  height: 150px;
  perspective: 600px;
  /* transform: rotateX(30deg); */
}

.cube {
  width: inherit;
  height: inherit;
  position: relative;
  /* perspective: 600px; */
  transform-style: preserve-3d;
  /* margin: 100px; */
  transform: rotateY(180deg);
}

.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  /* background: red; */
  opacity: 0.8;
}
.cube-face-front {

  /* transform: translate3d(0, 0, 20px);
  transform: rotateY(40deg); */
  transform: translate3d(0, 0, 75px);
  background: yellow;
}
.cube-face-back {
  transform: rotateY(180deg) translate3d(0, 0, 75px);
  background-image: url("../images/Jai.jpg");
  background: orange;
}
.cube-face-left {
  transform: rotateY(-90deg) translate3d(0, 0, 75px);
  background-image: url("../images/Moksline.jpg");
  background-color: green;
}
.cube-face-right {
  transform: rotateY(90deg) translate3d(0, 0, 75px);
  background-color: purple;
}
.cube-face-top {
  transform: rotateX(90deg) translate3d(0, 0, 75px);
  background-color: blue;
}
.cube-face-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 75px);
  background-color: brown;
}
/* radio buttonai kubo navigacijai */
#radio-back:checked ~ .scene .cube {
  transform: rotateY(180deg);
}
#radio-left:checked ~ .scene .cube {
  transform: rotateY(90deg);
}
#radio-right:checked ~ .scene .cube {
  transform: rotateY(-90deg);
}
#radio-top:checked ~ .scene .cube {
  transform: rotateX(-90deg);
}
#radio-bottom:checked ~ .scene .cube {
  transform: rotateX(90deg);
}
