h1 {
    text-align: center;
    padding: 40px;
}

article {
    width: 30%;
    border: 2px solid black;
    background-color: grey;
    float: left;
    padding-left: 2.5%;
    position: relative;
}

.float-fix {
    clear: both;
}

h3 {
    /* sitas elementas gali visur vaikscioti */
    position: absolute;
    right: 50px;
    
}

