body {background-color: rgba(221, 209, 205, 0.44)}

img {width: 100px;
    height: 100px;

}
main {
    background-image: image(Pictures/fonas.jpg);
}
.vidurys { justify-content: center;

}
.desine {justify-content: flex-end;

}
.auto {width: 100px;
        height: 100px;

}
