html {background-color: #a2a2a2; }

body {
    /* centravimas X-asyje
    1) reik width=xxxpx;
    2) margin-left: auto;
    3) margin-right: auto;
    */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

h1, h2, h3 {font-family: 'Indie Flower', cursive;
}

h1 {

    text-align: center;
    text-shadow: 0px 0px 15px #000;
    color: #fff;
}
header {
    background-color: #FF80FF;
    margin-bottom: 2%;
}
nav {
    height: 80px;
    display: block;
    width: 60%;
    background-color: #FF80FF;
    float: left;
}
nav ul {
    padding: 0;
}
.clearfloat {
    clear: both;
}
nav li {
    padding-top: 12px;
    float: left; /* nepamirsti clear float uzdeti */
    width: 25%;

    font-size: 29px;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

footer {background-color: #fff;
margin-top: 2%;
height: 30px;
padding-top: 9px;}
/* --------search----- */
#paieska {
    display: block;
    width: 40%;
    height: 80px;
    background-color: #FF80FF;

    float: right;
}
input {
    width: 60%;
    height: 28px;
    border: none;
    background-color: #fff;
    color: #fff;
    border-radius: 10px;
}
form {
    padding-top: 21px;
}

article {margin: 1%;

}
button {color: white;
        background-color: black;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 9px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        width: 20%;
        height: 30px;

        }

main {width: 80%;
    background-color: #fff;


}
aside {width: 18%;
        background-color: #ff80ff;
        margin-left: 2%;

        /* automatiskai apskaiciuoja auksit
            ant tecio: overlow-hiden ir ploti*/
        padding-bottom: 100%;
        margin-bottom: -100%;


}



.sone {text-align: center;

}

.float-left {float: left;


}

p {text-align: justify;

}

section {
        overflow: hidden;

}




/* --------nuo 0 iki 1199px---------  */
@media (max-width: 1199px) {
    body {
        width: 100%;
    }

}
